%small-label {
  font-size: 0.8rem;
}

%smaller-label {
 font-size: 0.7rem; 
}

%background-icon {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0 50%;
}

.refresh-button {
  @extend %small-label;
  cursor: pointer;
}

.updated-at-label {
  @extend %small-label;
}

.updated-at-label-smaller {
  @extend %smaller-label;
}

.bottle {
  @extend %background-icon;
  background-image: url('../imgs/water.png');
}

.tea {
  @extend %background-icon;
  background-image: url('../imgs/tea.png');
}