// $theme-colors: (
//   "primary": #268BD2,
//   "secondary": #B58900,
//   "success": #859900,
//   "info": #2AA198,
//   "warning": #CB4B16,
//   "danger": #DC322F,
//   "light": #FDF6E3,
//   "dark": #002B36,
//   "contrast": #D33682,
//   "content-light": #93A1A1,
//   "content-dark": #586E75,
//   "solarized-dark": #002B36
// );

@import "../bootstrap/scss/bootstrap";

%small-label {
  font-size: 0.8rem;
}

%smaller-label {
 font-size: 0.7rem; 
}

%background-icon {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0 50%;
}

.refresh-button {
  @extend %small-label;
  cursor: pointer;
}

.updated-at-label {
  @extend %small-label;
}

.updated-at-label-smaller {
  @extend %smaller-label;
}

.bottle {
  @extend %background-icon;
  background-image: url('../imgs/water.png');
}

.tea {
  @extend %background-icon;
  background-image: url('../imgs/tea.png');
}